{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Contact</h1>
    <hr>
    <h4>I'm seeking out opportunities to collaborate with companies/ agencies/ individuals. I want to bring my developer experience to the table where we can work together to solve real business-problems in a way that optimizes all of your respective experience and knowledge.
</h4><br><br><br><h4>Feel free to reach out through any platforms bellow:</h4><br>
    <ul>
        <li><a href="mailto:octaviodivework@gmail.com">octaviodivework@gmail.com</a></li>
        <li><a href="https://www.linkedin.com/in/octavio-diaz-58ab1b202/">LinkedIn</a></li>
    </ul>

</div>
{% endblock %}